// -----------------------------------------------
// Classes.css.scss
//
// Contains classes to help on development
// -----------------------------------------------


.grid {
  width: 940px;
  margin: auto;
}

.align-center { text-align: center; }

.align-left { text-align: left; }

.app-content {
  background: $color-bg-white;
  width: 100%;
  padding: $space-40 0;
}

.is-not-list {
  list-style: none;
  margin: 0;
  padding: 0;

  dd {
    padding: 0;
    margin: 0;
  }
}

.icon-navigation {
  @include transition(color 300ms linear);
  font-family: $font-type-1-medium;
  text-transform: uppercase;
  color: $color-text-gray-dark;
  font-size: rem(13);

  &:hover { color: $color-text-orange; }
}

%content-font {
  font-family: $font-type-1-regular;
  font-size: $font-size-4;
}

.basic-font {
  font-family: $font-type-3-regular;
  font-size: $font-size-3;
}

.default-link {
  color: $color-text-gray-dark;
}

.modules {
  @extend .grid;
  margin-top: $space-40;
  margin-bottom: $space-40;

  &:first-child { margin-top: 0; }

  &:last-child { margin-bottom: 0; }

  &.fluid { width: 100%; }

  > p {
    &:last-child { margin-bottom: 0; }
  }
}

.icon-navigation {
  @include transition(color 300ms linear);
  font-family: $font-type-1-medium;
  text-transform: uppercase;
  color: $color-text-gray-dark;
  font-size: $font-size-3;

  &:hover { color: $color-text-orange; }
}

.loading-spin {
  text-transform: uppercase;
}