.home-intro {
  > h1 {
    font-size: $font-size-6;
  }

  > h2 {
    margin-top: $space-10;
    font-size: $font-size-4;
  }

  .home-intro-features {
    background: image-url('home/bg-home-intro-features.jpg');
    width: rem(856);
    height: rem(881);
    margin: $space-40 auto auto auto;
    padding: $space-30 $space-20;

    > h2 { font-size: $font-size-4; }

    .home-intro-features-carousel {
      margin: $space-20 auto auto;
      position: relative;
      padding-bottom: $space-20;

      nav {
        width: rem(700);
        margin: auto;

        .m-carousel-inner {
          @extend .is-not-list;
          margin: 0 $space-40;

          li {
            width: rem(815);

            figure {
              height: rem(281);
              width: rem(450);
              display: table-cell;
              vertical-align: middle;
              text-align: center;
            }

            b {
              display: table-cell;
              vertical-align: middle;
              font-size: $font-size-4;
              text-align: center;
              width: rem(150);
            }
          }
        }
      }
    }

    .carousel-arrows {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      %arrows {
        position: absolute;
        width: rem(39);
        height: rem(63);
        top: rem(130);
        text-indent: -9999px;
      }

      .arrow-left {
        @extend %arrows;
        background: image-url('home/arrows-carousel.png') left -64px no-repeat;
        left: $space-10;
      }

      .arrow-right {
        @extend %arrows;
        background: image-url('home/arrows-carousel.png') left top no-repeat;
        right: $space-10;
      }
    }

    .carousel-bullets {
      text-align: center;
      margin-top: $space-10;

      a {
        @include transition(background 200ms linear);
        @include border-radius(6px);
        background: $color-bg-gray-medium;
        display: inline-block;
        margin-right: $space-10;
        width: $space-10;
        height: $space-10;
        text-indent: -9999px;

        &.m-active {
          background: $color-bg-gray-dark;
        }
      }
    }
  }
}